@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-4 text-3xl font-bold tracking-tight leading-none md:text-4xl xl:text-5xl text-text dark:text-background
  }

  h2 {
    @apply mb-4 text-xl font-bold tracking-tight leading-none md:text-2xl xl:text-3xl text-text dark:text-background
  }
}